nav {
  margin-top: 1rem;
}
nav a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.form {
  background-color: #f0f0f0;
  padding: 2rem;
  text-align: center;
}
.form form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.form input, .form button {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact-info {
  padding: 2rem;
  text-align: center;
}
